
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
    text-align: center;
}
.analysis-buttons {
    width: 100%;
    text-align: center;
}
.analysis-buttons button {
    padding: 15px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #add8e6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    display: inline-block;
    width: 60%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.analysis-buttons button:hover {
    background-color: #9acfe7;
}




